@import "tailwindcss";



body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.scale {
  transform-origin: center;
  animation: scaleIn 1s ease-out forwards;
}
.scale-google{
  transform-origin: center;
  animation: scaleIn 1.8s ease forwards;
  animation-delay: 0.5s;
}
@keyframes fadeLoop {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.scale-then-fade {
  transform-origin: center;

  animation:
    scaleIn 2s ease-out forwards,
    fadeLoop 3s ease-in-out infinite;

  animation-delay: 0s, 2s;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fromtop {
  0% {
    transform: translateY(-200);
  }

  100% {
    transform: translateY(0);
  }
}

.fromtop-float {
  transform-origin: center;
  animation:
    fromtop 2s ease-in-out forwards,
    floatUp 2.5s ease-in-out infinite;
  animation-delay: 0s, 2s;
}